@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}
body{
    background-color: var(--LightGray);
    min-height: 100vh;
    display: grid;
    place-content: center;
    
}
main{
    width: 660px;
    height: 550px;
}
.mini{
    margin-top: 20px;
}
.first{
    width: 100%;
    height: 40%;
    padding: 40px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}
.first h1{
    color: var(--Cyan);
}
.first span{
    color: var(--BrightYellow);
}
.first p{
    margin-top: 20px;
    color: lightgray;
}



.split{
    display: flex;
    width: 100%;
    height: 50%;
}

.second{
    height: 100%;
    width: 1350px;
    background-color: var(--Cyan);
    color: white;
    padding: 40px;
    border-radius: 0 0 0 10px;
}
.cash{
    display: flex;
    width: 155px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.cash span{
    opacity: 55%;
}
.cash p{
    font-size: 32px;
}
.second p{
    margin-top: 15px;
    font-weight: 400;
}
.btn{
    padding: 16px 100px;
    border: none;
    background-color: var(--BrightYellow);
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}

.third{
    padding: 40px;
    color: white;
    background: hsl(179, 62%, 45%);;
    border-radius: 0 0 10px 0;
}
.third p{
    margin-top: 15px;
    opacity: 70%;
    line-height: 1.6;
}